#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="/WEB-INF/template.xhtml">

    <ui:define name="title">Users</ui:define>

    <ui:define name="content">
        Hello from Facelets - JSF
        <br />
        <h:link outcome="user/list" value="Users" />
    </ui:define>
</ui:composition>

