#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Login error</ui:define>

    <ui:define name="content">
        <h2>Invalid user name or password.</h2>

        <p>Please enter a user name or password that is authorized to access 
            this application. For this application, this means a user that 
            has been created in the <code>file</code> realm and has been 
            assigned to the <em>group</em> of <code>TutorialUser</code>.</p>
        <p><a href="login.xhtml">Return to login page</a></p>
    </ui:define>
    
</ui:composition>

