#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Login</ui:define>

    <ui:define name="content">
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <p:panel header="Login">
                <form action="j_security_check" method="POST">
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="j_username" value="Username:" />
                        <p:inputText id="j_username" label="username"/>
                        <h:outputLabel for="j_password" value="Password:" />
                        <p:password   id="j_password" label="password"/>
                        <input type="submit" value="Login" />
                    </h:panelGrid>
                </form>
            </p:panel>
        </div>
    </ui:define>
</ui:composition>

