#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Users</ui:define>

    <ui:define name="content">
        <h:form id="form"> 
            <p:commandButton update=":form:userEditDialog" oncomplete="PF('userEdit').show()" title="New" value="New" action="${symbol_pound}{userBean.createUser}" icon="fa fa-plus" />
            <p:autoUpdate>
                 <p:messages id="messages" showDetail="true" closable="true" />
            </p:autoUpdate>        
        
            <p:growl id="growl" life="2000" />
            <p:dataTable var="u" value="${symbol_pound}{userBean.allUsers}">
                <p:column headerText="Id">
                    <h:outputText value="${symbol_pound}{u.id}" />
                </p:column>

                <p:column headerText="Firstname">
                    <h:outputText value="${symbol_pound}{u.firstName}" />
                </p:column>

                <p:column headerText="Lastname">
                    <h:outputText value="${symbol_pound}{u.lastName}" />
                </p:column>

                <p:column headerText="Login">
                    <h:outputText value="${symbol_pound}{u.login}" />
                </p:column>
                <p:column style="text-align: center">
                    <p:commandButton action="${symbol_pound}{userBean.setUser(u)}" update=":form:userDetail" oncomplete="PF('userDialog').show()"  icon="fa fa-fw fa-search" value="View">
                        
                    </p:commandButton>
                    <p:commandButton action="${symbol_pound}{userBean.editUser(u)}" update=":form:userEditDialog" oncomplete="PF('userEdit').show()" icon="fa fa-fw fa-edit" value="Edit">
                        
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:dialog header="User Info" widgetVar="userDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="userDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="${symbol_pound}{not empty userBean.user}" columnClasses="label,value">      
                        <f:facet name="header">User</f:facet>
                        <h:outputText value="Id:" />
                        <h:outputText value="${symbol_pound}{userBean.user.id}" />

                        <h:outputText value="Firstname" />
                        <h:outputText value="${symbol_pound}{userBean.user.firstName}" />

                        <h:outputText value="Lastname" />
                        <h:outputText value="${symbol_pound}{userBean.user.lastName}" />

                        <h:outputText value="Login" />
                        <h:outputText value="${symbol_pound}{userBean.user.login}" />
                    </p:panelGrid>
                </p:outputPanel>           
            </p:dialog>
            <p:dialog header="User edit" widgetVar="userEdit" modal="true" showEffect="fade" hideEffect="fade" resizable="false" onHide="">
                <p:outputPanel id="userEditDialog" style="text-align:center;">
                    
                    <p:panelGrid  columns="2" rendered="${symbol_pound}{not empty userBean.user}" columnClasses="label,value">      
                        <f:facet name="header">User</f:facet>

                        <h:outputText value="Firstname" />
                        <p:inputText value="${symbol_pound}{userBean.user.firstName}" />

                        <h:outputText value="Lastname" />
                        <p:inputText value="${symbol_pound}{userBean.user.lastName}" />

                        <h:outputText value="Login" />
                        <p:inputText value="${symbol_pound}{userBean.user.login}" />

                        <h:outputLabel  for="pwd1" value="Password 1: *" />
                        <p:password  autocomplete="false" id="pwd1" value="${symbol_pound}{userBean.user.password}" match="pwd2" label="Password 1" />

                        <h:outputLabel for="pwd2" value="Password 2: *" />
                        <p:password id="pwd2" value="${symbol_pound}{userBean.user.password}" label="Password 2" />
                        <p:commandButton value="Save" action="${symbol_pound}{userBean.persistUser}" oncomplete="PF('userEdit').hide()"  update="growl"></p:commandButton>
                    </p:panelGrid>
                </p:outputPanel>           
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>

