#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <div class="ui-g footer">
        <div class="ui-g-10">
            <span>StringData s.r.o.</span>
        </div>
        <div class="ui-g-2">
            <span>StringData s.r.o.</span>
        </div>
    </div>
</ui:composition>