#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="cs">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

        </f:facet>
        <title>Java EE Primefaces skeleton application</title>
        <!-- STYLES -->
        <!--<h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/> from v 7 -->        
        <!--<h:outputStylesheet name="css/primeflex.css"/>-->
        <h:outputStylesheet name="css/app.css"/>
        <h:outputScript name="jquery/jquery.js" library="primefaces"/>
        <h:outputScript name="jquery/jquery-plugins.js" library="primefaces"/>

        <ui:insert name="head"/>
    </h:head>

    <h:body id="body">
        <ui:include src="./topbar.xhtml"></ui:include>
        <div class="ui-g">
            <div class="ui-g-1"></div>
            <div class="ui-g-10">
                <ui:insert name="content"></ui:insert>
            </div>
        </div>
        <ui:include src="./footer.xhtml"></ui:include>
    </h:body>

</html>