#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                >

    <div class="ui-g topbar">
        <div class="ui-g-10">
            <h1>Java EE Primefaces skeleton</h1>
        </div>
        <div class="ui-g-2">
            <c:choose> 
                <c:when test="${symbol_pound}{not empty login.loggedUser}">
                    <h:form>
                        <p:menuButton id="basic" value="${symbol_pound}{login.loggedUser.firstName.concat(' ').concat(login.loggedUser.lastName)}" >
                            <p:menuitem value="Logout" action="${symbol_pound}{login.logout()}" ajax="false"/>                            
                        </p:menuButton>
                    </h:form>
                    
                </c:when>
                <c:otherwise>
                    <p:button value="Not logged" disabled="true" />
                </c:otherwise>
            </c:choose>
        </div>
    </div>

</ui:composition>